<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h6>WEB AUTHOR</h6>
				<p>webdq</p>
			</div>
			<div class="col-sm-3">
				<h6>NAME</h6>
				<p>Qiang Deng</p>
			</div>
			<div class="col-sm-3">
				<h6>PHONE</h6>
				<p>13716834942</p>
			</div>
			<div class="col-sm-3">
				<h6>EMAIL</h6>
				<p>270003874@qq.com</p>
			</div>
		</div>
	</div>
</div>