<div class="user-menu">
	<div class="list-group">
		<a <%if(pageName=='/users/center'){%> class="list-group-item active" <%}else{%> class="list-group-item" <%}%> href="/users/center"><i class="fa fa-address-card-o"></i> 用户信息</a>
		<a <%if(pageName=='/users/article'){%> class="list-group-item active" <%}else{%> class="list-group-item" <%}%> href="/users/article"><i class="fa fa-file-text-o"></i> 我的文章</a>
		<!--<a <%if(pageName=='/users/email'){%> class="list-group-item active" <%}else{%> class="list-group-item" <%}%> href="/users/email"><i class="fa fa-envelope"></i> 修改邮箱</a>
        <a <%if(pageName=='/users/password'){%> class="list-group-item active" <%}else{%> class="list-group-item" <%}%> href="/users/password"><i class="fa fa-lock"></i> 修改密码</a>
        <a <%if(pageName=='/users/avatar'){%> class="list-group-item active" <%}else{%> class="list-group-item" <%}%> href="/users/avatar"><i class="fa fa-image"></i> 修改头像</a>-->
	</div>
</div>