<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="webdqblog" />
		<meta name="keywords" content="webdqblog,webdq,blog" />
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/editor.md/css/editormd.min.css">
		<link rel="stylesheet" href="/public/css/article_add.css">
	</head>
	<body>
		<div class="header">
			<% include ../include/nav.ejs%>
		</div>
		<div class="main">
			<div class="container">
				<div class="text-center">
				<% if (success) { %>
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<%= success %>
				</div>
				<% } %>
				<% if (error) { %>
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<%= error %>
				</div>
				<% } %>
				</div>

				<form action="/articles/add" method="post"  role="form">
					<div class="form-group">
						<label for="title" class="control-label">标题</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="标题"/>
					</div>

					<div class="form-group">
						<label for="title" class="control-label">描述</label>
						<input type="text" class="form-control" id="des" name="des" placeholder="描述"/>
					</div>

					<div class="form-group">
						<label for="title" class="control-label">正文</label>
						<div id="test-editormd">
							<textarea style="display:none;" name="content"></textarea>
						</div>
					</div>

					 <div class="form-group">
						<div class="text-center">
							<button type="submit" class="btn btn-ok">提交</button>
							<button type="reset" class="btn btn-cancel">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<% include ../include/footer.ejs%>
		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>
		<script src="/public/editor.md/editormd.min.js"></script>
		<script type="text/javascript">
		var testEditor;

		$(function() {
			testEditor = editormd({
				id      : "test-editormd",
				width   : "100%",
				height  : 640,
				path    : "/public/editor.md/lib/",
				toolbarIcons: function(){
					return ["undo", "redo", "|", "bold", "del", "italic", "quote", "uppercase", "lowercase", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "watch", "preview", "fullscreen"];
				}
			});

			//testEditor.hideInfoDialog()
			console.log(testEditor)
			//testEditor.markdownToHTML('test-editormd')
			$(document).on('click',function(){
				console.log(testEditor.getMarkdown());
				//console.log(testEditor.getHTML());
				console.log(testEditor.getPreviewedHTML());
			})
			
		});
		</script>
	</body>
</html>
